@font-face {
    font-family: Gilgan;
    src: url("assets/Gilgan.otf");
}

html {
    background-image: url('assets/background.png');
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    font-family: Gilgan;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#form_field {
    width: 70vw;
    height: 70vh;
    background-color: #E3DDF4;
    border-width: 0.35em;
    border-color: #686295;
    border-style: solid;
    border-radius: 1.5em;

}

#div_form {
    display: flex;
}

#form1 {
    padding-right: 2vw;
    padding-top: 5vh;
}

#form2 {
    padding-left: 2vw;
    padding-top: 5vh;
}

.large_inp,
textarea,
#form2,
#form1 {
    width: 100%;
}

label {
    font-size: larger;
}

input {
    height: 5vh;
}

input, textarea {
    font-size: larger;
    padding-left: 1vw;
}

#title_form {
    font-size: xx-large;
    color: #686295;
    position: relative;
}

input, textarea, button {
    border-color: #686295;
    border-style: solid;
    border-radius: 2em;
    border-width: 0.2em;
}

#submit {
    background-color: #686295;
    color: white;
    width: 10vw;
    height: 4vh;
    border-radius: 100vh;
}

#voltar {
    background-color: #E3DDF4;
    color: #686295;
    width: 10vw;
    height: 4vh;
    border-radius: 100vh;
    font-size: larger;
}

#div_submit {
    text-align: right;
    padding-top: 100px;
}
